@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula sapien vitae ipsum suscipit, non mollis enim vulputate. Donec placerat dapibus lorem vitae pulvinar. Donec dolor massa, semper vel mauris eget, pulvinar luctus sapien. In turpis neque, laoreet id congue feugiat, interdum et ante. Sed hendrerit ipsum tortor, id euismod ligula mattis nec. Donec nulla ipsum, fringilla nec luctus id, convallis quis massa. Curabitur consectetur libero at tempus hendrerit. Curabitur commodo, risus quis pulvinar lobortis, ligula tellus tempor mauris, eget feugiat quam eros id erat. Donec tincidunt ante id sapien maximus, eget mattis arcu sollicitudin. Duis iaculis sit amet lacus ultricies facilisis. In euismod lorem a neque rutrum feugiat.</p>
        <p>Aenean scelerisque viverra est sit amet dapibus. Aliquam finibus ornare ultricies. In at diam justo. Duis tincidunt rutrum iaculis. Donec imperdiet ultrices dui, eu semper lorem convallis ac. Pellentesque luctus elit vel dignissim blandit. Mauris vestibulum maximus sollicitudin. Integer ornare odio tellus, sed mattis tellus lobortis at. Nullam accumsan, erat non gravida consequat, nisl diam viverra ante, eget tempus mauris eros quis lacus. Sed ligula ligula, mollis a gravida vel, sodales sit amet metus. Vivamus gravida consequat urna, sed tincidunt elit finibus eu. Integer auctor arcu et massa consequat, et malesuada ante hendrerit. Nunc ac dignissim nisl, sit amet facilisis eros. Nulla quis hendrerit dolor. Mauris eleifend mi id leo dictum, a venenatis odio elementum. Nunc a ultrices nisl.</p>
        <p><a asp-controller="Game" class="btn btn-primary">Play the Game of Life</a></p>
    </div>
</div>